@{
    var db = Database.Open("WebPagesScriptures");
    var selectedData = db.Query("SELECT * FROM Scriptures");
    var grid = new WebGrid(source: selectedData);
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>
